body{ margin: 0;}

.login_interface{
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 0;
    width: 100%;
    height: 100vh;

    .boas_vindas_optiturn{
        background-color: #3B82F6;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1{
            font-size: 2rem;
        }

        span{
            font-style: italic;
            font-weight: bold;
            font-size: 2.2rem;
        }

        p{
            font-size: 1.3rem;
        }

    }

    h2{
        margin-top: 30%;
        margin-left: 40%;
        margin-right: 40%;
        color: #3B82F6;
        font-style: italic;
        font-family: Arial, sans-serif;
    }

    .form_login{
            width: 25em;
            height: 20em;
            border-radius: 2em;
            background-color: #fff;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: 5em;
            margin-right: 5em;
        }

    label{
        font-size: 1.2rem;
        margin-top: 15px;
    }

    input[type="text"]{
        margin-top: 15px;
        width: 20em;
        height: 1.2rem;
    }

        input[type="password"]{
        margin-top: 15px;
        width: 20em;
        height: 1.2rem;
    }

        input[type="submit"]{
        margin-top: 15px;
        width: 9em;
        height: 1.5rem;
    }
}